   
<!-- 
    {{#each students}}
      <div>
        <h2>This Is the teacher's name {{firstName}} {{lastName}}</h2>

        <h4> students in class </h4>
           {{#each Students}}
            <li> {{firstName}}</li>
          {{/each}}

              {{#each TA}}
           <div> name of the ta{{firstName}}<div>
          {{/each}}


          {{/each}}
 -->  assigned students
       {{#each students}}
   
        {{#if this.TeacherId}}
        <span>{{this.firstName}} </span>
      </div>
   {{/if}}
  
   {{/each}}

   This are the unassgined students
    {{#each students}}

    {{#unless this.TeacherId}} 
   {{this.firstName}}
   {{/unless}}
     {{/each}}
            
     
<!--       {{#each students}}
      {{#unless this.teacherId}}
      <div style="border:1px solid gray;">
        <h5>{{this.burgerName}}</h5>
        <form method="post" action="/devour/{{this.burgerName}}"">
          <button type="submit" class="btn btn-default">CONSUME THIS BURGER!</button>
        </form> 
      </div>
   {{/unless}}
   {{/each}} -->
